/*----------------------------------------*\
  TYPOGRAPHY
\*----------------------------------------*/

pre,
code {
  color: white;

  background-color: $alt-color-dark;
}

a {
  text-decoration: none;
  border-bottom: 1px solid;
}