

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link media="all" rel="stylesheet" href="../../kanbasu.css">
  <title>Preview Layout</title>
</head>
<body>

<ul>
  <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
  <li>Aliquam tincidunt mauris eu risus.</li>
  <li>
    Vestibulum auctor dapibus neque.
    <ul>
      <li>Vivamus hendrerit arcu.</li>
      <li>Praesent id metus massa.</li>
      <li>Class aptent taciti sociosqu.</li>
    </ul>
  </li>
  <li>Quisque eget odio ac lectus vestibulum faucibus.</li>
</ul>


</body>
</html>
