/*----------------------------------------*\
  SITE HEADER
\*----------------------------------------*/

.site-header {
  color: white;

  background-color: $brand-color;
  background-image: linear-gradient(to bottom right, lighten($brand-color, 8%), $brand-color);
  border-radius: 0 0 100% 100% / 0 0 10% 10%;
  box-shadow: 0 1vw 0 0 rgba(0,0,0,.1);
}

.logo,
.description {
  filter: drop-shadow(0 2px 1px rgba(0,0,0,.2));
}

.logo {
  width: 400px;
  max-width: 60%;
}

.description {
  font-size: rem(20px);
  line-height: 1.2;

  @include media('md') {
    font-size: rem(24px);
  }
}