/*----------------------------------------*\
  TYPOGRAPHY
\*----------------------------------------*/

pre,
code {
  color: white;

  background-color: $alt-color-dark;
}

a {
  text-decoration: none;

  transition: all .1s ease-out;

  &:hover,
  &:focus {
    color: lighten($secondary-color,10%);
  }
}

@include headings {
  font-weight: 700;
}